<md-card>
    <md-card-title>
        <button class="more" md-icon-button [md-menu-trigger-for]="menu">
            <md-icon>more_vert</md-icon>
        </button>
        <md-menu x-position="before" #menu="mdMenu">
            <button md-menu-item>Редактировать</button>
            <button md-menu-item>Удалить</button>
        </md-menu>

        {{ task.title }}
    </md-card-title>
    <md-card-content *ngIf="task.description">
        <p>{{ task.description }}</p>
    </md-card-content>
    <div>
        <button class="toggle-run" md-raised-button [color]="task.isActive ? 'accent' : 'warn'" (click)="toggleRun()">
            <span class="total-time-spent">{{ totalTimeSpent | duration }}</span>
            <span class="revenue">${{ revenue }}</span>
            <md-icon>{{ task.isActive ? 'pause' : 'play_arrow' }}</md-icon>
        </button>
    </div>
</md-card>
