<form class="registration-form" (ngSubmit)="onSubmit()" [formGroup]="form">
    <md-card>
        <md-card-title>Регистрация</md-card-title>
        <md-card-content>
            <app-form-control-container [control]="form.controls.username">
                <md-input-container>
                    <input md-input formControlName="username" type="text" placeholder="Имя пользователя">
                </md-input-container>
            </app-form-control-container>
            <div class="form-group" formGroupName="plainPassword">
                <app-form-control-container [control]="form.controls.plainPassword.controls.first">
                    <md-input-container>
                        <input md-input formControlName="first" type="password" placeholder="Пароль">
                    </md-input-container>
                </app-form-control-container>
                <app-form-control-container [control]="form.controls.plainPassword.controls.second">
                    <md-input-container>
                        <input md-input formControlName="second" type="password" placeholder="Пароль ещё раз">
                    </md-input-container>
                </app-form-control-container>
            </div>
            <app-form-error [form]="form"></app-form-error>
        </md-card-content>
        <md-card-actions align="end">
            <md-spinner *ngIf="form.pending"></md-spinner>
            <button type="submit" md-button color="primary" [disabled]="submitDisabled" align="end">
                ЗАРЕГИСТРИРОВАТЬСЯ
            </button>
        </md-card-actions>
    </md-card>
</form>