.task-form-layout {
    display: block;
    margin: 20px;
}

.task-list-item-layout {
    display: block;
    margin: 20px;
}

.button-add-task {
    position: fixed;
    z-index: 1;
    bottom: 24px;
    right: 24px;
}