<button class="button-add-task" md-fab color="primary" (click)="addNewTask()" *ngIf="!showingTaskForm">
    <md-icon fontIcon="mdi-playlist-plus" class="mdi-24px"></md-icon>
</button>

<assistant-task-form class="task-form-layout"
                     *ngIf="showingTaskForm"
                     (onSaved)="onTaskSaved($event)"
                     (onCanceled)="onFormCanceled($event)"
                     [task]="task"
                     [user]="user">
</assistant-task-form>

<assistant-task-list-item class="task-list-item-layout"
                          *ngFor="let task of user.tasks"
                          (onTaskEdit)="onTaskEdit($event)"
                          [task]="task">
</assistant-task-list-item>
