<md-card *ngIf="task">
    <md-card-title>{{ task.id ? 'Редактирование задачи' : 'Новая задача' }}</md-card-title>
    <md-card-content>
        <form>
            <div>
                <md-input name="title" placeholder="Заголовок" [(ngModel)]="task.title"></md-input>
            </div>
            <div>
                <md-input name="description" placeholder="Описание" [(ngModel)]="task.description"></md-input>
            </div>
            <div>
                <md-input type="number" min="5.00" step="0.10" name="rate" placeholder="Рейт" [(ngModel)]="task.rate"
                          dividerColor="warn">
                    <span md-prefix>$</span>
                </md-input>
            </div>
        </form>
    </md-card-content>
    <md-card-actions align="end">
        <button md-button color="primary" (click)="cancel()">ОТМЕНА</button>
        <button md-button color="primary" (click)="save()">СОХРАНИТЬ</button>
    </md-card-actions>
</md-card>