<form class="task-form" (ngSubmit)="onSubmit()" [formGroup]="form">
    <md-card *ngIf="task">
        <md-card-title>{{ task.id ? 'Редактирование задачи' : 'Новая задача' }}</md-card-title>
        <md-card-content>
            <div class="form-group"
                 [class.has-error]="!form.controls.title.valid && !form.controls.title.pristine">
                <md-input type="text" placeholder="Заголовок" formControlName="title" [disabled]="pending">
                </md-input>
                <md-hint *ngIf="form.controls.title.hasError('required')">Введите заголовок</md-hint>
            </div>
            <div class="form-group"
                 [class.has-error]="!form.controls.description.valid && !form.controls.description.pristine">
                <md-input type="text" placeholder="Описание" formControlName="description" [disabled]="pending">
                </md-input>
            </div>
            <div class="form-group"
                 [class.has-error]="!form.controls.rate.valid && !form.controls.rate.pristine">
                <md-input type="number" min="5.00" step="0.01" placeholder="Рейт" formControlName="rate"
                          [disabled]="pending">
                    <span md-prefix>$</span>
                </md-input>
                <md-hint *ngIf="form.controls.rate.hasError('required')">Введите рейт</md-hint>
            </div>
            <div class="form-error" *ngIf="error">
                <md-icon>error</md-icon>
                {{ error }}
            </div>
        </md-card-content>
        <md-card-actions align="end">
            <md-spinner *ngIf="pending"></md-spinner>
            <button type="button" md-button color="primary" (click)="cancel()">ОТМЕНА</button>
            <button type="submit" md-button color="primary" [disabled]="!form.valid || pending">СОХРАНИТЬ</button>
        </md-card-actions>
    </md-card>
</form>
