<h1 md-dialog-title>{{ task.id ? 'Редактирование задачи' : 'Новая задача' }}</h1>
<form *ngIf="form" class="task-form" (ngSubmit)="onSubmit()" [formGroup]="form">
    <md-dialog-content>
        <app-form-control-container *ngIf="task.id" [control]="form.controls.category">
            <md-select formControlName="category" placeholder="Категория">
                <md-option *ngFor="let category of categories.getItems()" [value]="category.id">
                    {{ category.name }}
                </md-option>
            </md-select>
        </app-form-control-container>
        <app-form-control-container [control]="form.controls.title">
            <md-input-container>
                <input md-input formControlName="title" type="text" placeholder="Заголовок">
            </md-input-container>
        </app-form-control-container>
        <app-form-control-container [control]="form.controls.description">
            <md-input-container>
                <textarea md-input formControlName="description" rows="4" placeholder="Описание"></textarea>
            </md-input-container>
        </app-form-control-container>
        <app-form-control-container [control]="form.controls.rate">
            <md-input-container>
                <input md-input formControlName="rate" type="number" min="5.00" step="0.01" placeholder="Рейт">
                <span md-prefix>$</span>
            </md-input-container>
        </app-form-control-container>
        <app-form-error [form]="form"></app-form-error>
    </md-dialog-content>
    <md-dialog-actions align="end">
        <button type="button" md-button md-dialog-close color="primary" [disabled]="pending">ОТМЕНА</button>
        <md-spinner *ngIf="form.pending"></md-spinner>
        <button type="submit" md-button color="primary" [disabled]="submitDisabled">СОХРАНИТЬ</button>
    </md-dialog-actions>
</form>
