<form class="login-form" (ngSubmit)="onSubmit()" [formGroup]="form">
    <md-card>
        <md-card-title>Авторизация</md-card-title>
        <md-card-content>
            <app-form-group [control]="form.controls.username"
                            [pending]="pending"
                            [submitted]="submitted"
                            formControlName="username"
                            type="text"
                            placeholder="Имя пользователя">
            </app-form-group>
            <app-form-group [control]="form.controls.password"
                            [pending]="pending"
                            [submitted]="submitted"
                            formControlName="password"
                            type="password"
                            placeholder="Пароль">
            </app-form-group>
            <app-form-error [form]="form"></app-form-error>
        </md-card-content>
        <md-card-actions align="end">
            <a routerLink="/register" align="start" md-button color="primary">РЕГИСТРАЦИЯ</a>
            <md-spinner *ngIf="pending"></md-spinner>
            <button type="submit" md-button color="primary" [disabled]="isDisabled(form)" align="end">
                ВОЙТИ
            </button>
        </md-card-actions>
    </md-card>
</form>