md-toolbar.md-primary a {
    color: #fff;
    text-decoration: none;
}

:host >>> .primary-component-layout {
    display: flex;
    height: 100%;
    flex-direction: column;
}

:host >>> .form-group + .form-group {
    margin-top: 20px;
}

:host >>> .form-group.has-error md-input >>> .md-input-underline .md-input-ripple {
    /* md-warn color */
    background-color: #f44336;
}

:host >>> .form-group:not(.has-error) md-input-error {
    display: none;
}

:host >>> .form-group.has-error md-input-error {
    display: block;
    color: #f44336;
}

:host >>> .form-error {
    display: flex;
    align-items: center;
    margin-top: 20px;
    color: #f44336;
}

:host >>> .form-error .material-icons {
    font-size: 45px;
    margin-right: 10px;
}

:host >>> .form-error md-icon {
    width: auto;
    height: auto;
}

:host >>> .form-error ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

:host >>> .form-error .error-text + .error-text {
    margin-top: 20px;
}

:host >>> md-card-actions md-spinner {
    width: 24px;
    height: 24px;
    align-self: center;
}