md-toolbar.md-primary a {
    color: #fff;
}

.app-toolbar {
    a {
        text-decoration: none;
    }

    .btn-sidenav-toggle + .app-title {
        margin-left: 20px;
    }
}

:host {
    /deep/ .primary-component-layout {
        display: flex;
        height: 100%;
        flex-direction: column;
    }

    /deep/ md-card-actions {
        md-spinner {
            width: 24px;
            height: 24px;
            align-self: center;
        }

        &[align="end"] [align="start"] {
            margin-right: auto;
        }
    }
}
