:host {
    display: block;
    min-width: 250px;
}

header {
    height: 100px;
    background-image: url(app/shared/sidenav/header-background.svg);
    background-size: cover;

    display: flex;
    align-items: center;
    padding: 0 16px;
    color: #fff;

    md-icon.avatar {
        $size: 48px;

        width: $size;
        height: $size;
        font-size: $size;
    }

    .username {
        margin-left: 8px;
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-size: 18px;
        flex-grow: 10;
    }
}

[md-menu-item] md-icon {
    $padding: 4px;

    padding: $padding;
    margin-left: -$padding;
}

md-nav-list [md-subheader] {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
