:host {
    display: block;
    margin-bottom: 20px;
}

:host md-input {
    width: 100%;
}

:host md-input >>> .md-input-prefix {
    width: 1px;
}

:host md-input [md-prefix] {
    margin-right: .3em;
}

:host.has-error md-input >>> .md-input-underline .md-input-ripple {
    /* md-warn color */
    background-color: #f44336;
}

:host .error-list {
    display: none;
}

:host ul.error-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

:host.has-error .error-list {
    display: block;
    color: #f44336;
}