<md-input aria-target
          [aria-label]="ariaLabel"
          [aria-labelledby]="ariaLabelledBy"
          [aria-disabled]="ariaDisabled"
          [aria-required]="ariaRequired"
          [aria-invalid]="ariaInvalid"
          [autocomplete]="autocomplete"
          [autocorrect]="autocorrect"
          [autocapitalize]="autocapitalize"
          [autofocus]="autofocus"
          [disabled]="disabled || pending"
          [id]="id"
          [list]="list"
          [max]="max"
          [maxlength]="maxlength"
          [min]="min"
          [minlength]="minlength"
          [readonly]="readonly"
          [required]="required"
          [spellcheck]="spellcheck"
          [step]="step"
          [tabindex]="tabindex"
          [type]="type"
          [name]="name"
          [placeholder]="placeholder"
          [(ngModel)]="value"
          [align]="align"
          [dividerColor]="dividerColor"
          [floatingPlaceholder]="floatingPlaceholder"
          [hintLabel]="hintLabel">
    <ng-content></ng-content>
</md-input>
<ul *ngIf="control.errors" class="error-list">
    <li *ngFor="let error of control.errors | iterable">{{ error.key }}</li>
</ul>