<form class="registration-form" (ngSubmit)="onSubmit()" [formGroup]="form">
    <md-card>
        <md-card-title>Регистрация</md-card-title>
        <md-card-content>
            <div class="form-group" [class.has-error]="!isValid(form.controls.username)">
                <!--<md-input type="text" placeholder="Имя пользователя" formControlName="username"-->
                          <!--[disabled]="isDisabled(form.controls.username)"></md-input>-->
                <!--&lt;!&ndash;<md-input-error *ngFor="let error of getErrors(form.controls.username) | iterable">&ndash;&gt;-->
                    <!--&lt;!&ndash;{{ error.key }}&ndash;&gt;-->
                <!--&lt;!&ndash;</md-input-error>&ndash;&gt;-->
            </div>
            <div class="form-group" formGroupName="plainPassword">
                <!--<div class="form-group" [class.has-error]="!isValid(form.controls.plainPassword.controls.first)">-->
                    <!--<md-input type="password" placeholder="Пароль" formControlName="first"-->
                              <!--[disabled]="isDisabled(form.controls.plainPassword.controls.first)"></md-input>-->
                    <!--&lt;!&ndash;<md-input-error&ndash;&gt;-->
                            <!--&lt;!&ndash;*ngFor="let error of getErrors(form.controls.plainPassword.controls.first) | iterable">&ndash;&gt;-->
                        <!--&lt;!&ndash;{{ error.key }}&ndash;&gt;-->
                    <!--&lt;!&ndash;</md-input-error>&ndash;&gt;-->
                <!--</div>-->
                <!--<div class="form-group" [class.has-error]="!isValid(form.controls.plainPassword.controls.second)">-->
                    <!--<md-input type="password" placeholder="Пароль ещё раз" formControlName="second"-->
                              <!--[disabled]="isDisabled(form.controls.plainPassword.controls.second)"></md-input>-->
                    <!--&lt;!&ndash;<md-input-error&ndash;&gt;-->
                            <!--&lt;!&ndash;*ngFor="let error of getErrors(form.controls.plainPassword.controls.second) | iterable">&ndash;&gt;-->
                        <!--&lt;!&ndash;{{ error.key }}&ndash;&gt;-->
                    <!--&lt;!&ndash;</md-input-error>&ndash;&gt;-->
                <!--</div>-->
            </div>
            <app-form-error [form]="form"></app-form-error>
        </md-card-content>
        <md-card-actions align="end">
            <md-spinner *ngIf="pending"></md-spinner>
            <button type="submit" md-button color="primary" [disabled]="isDisabled(form)" align="end">
                ЗАРЕГИСТРИРОВАТЬСЯ
            </button>
        </md-card-actions>
    </md-card>
</form>