<form class="registration-form" (ngSubmit)="onSubmit()" [formGroup]="form">
    <md-card>
        <md-card-title>Регистрация</md-card-title>
        <md-card-content>
            <div class="form-group"
                 [class.has-error]="hasError('username')">
                <md-input type="text" placeholder="Имя пользователя" formControlName="username"
                          [disabled]="pending"></md-input>
                <md-hint *ngIf="form.controls.username.hasError('required')">Введите имя пользователя</md-hint>
            </div>
            <div class="form-group"
                 [class.has-error]="hasError('password')">
                <md-input type="password" placeholder="Пароль" formControlName="password"
                          [disabled]="pending"></md-input>
                <md-hint *ngIf="form.controls.password.hasError('required')">Введите пароль</md-hint>
            </div>
            <div class="form-group"
                 [class.has-error]="hasError('passwordConfirmation')">
                <md-input type="password" placeholder="Пароль ещё раз" formControlName="passwordConfirmation"
                          [disabled]="pending"></md-input>
                <md-hint *ngIf="form.controls.passwordConfirmation.hasError('required')">
                    Подтвердите пароль
                </md-hint>
                <md-hint *ngIf="form.controls.passwordConfirmation.hasError('equalTo')">
                    Пароли не свпадают
                </md-hint>
            </div>
            <div class="form-error" *ngIf="error">
                <md-icon>error</md-icon>
                {{ error }}
            </div>
        </md-card-content>
        <md-card-actions align="end">
            <button type="submit" md-button color="primary" [disabled]="!form.valid || pending" align="end">
                ЗАРЕГИСТРИРОВАТЬСЯ
            </button>
        </md-card-actions>
    </md-card>
</form>