<button class="btn-add-task" md-fab color="primary" (click)="addNewTask()" *ngIf="!task">
    <md-icon fontIcon="mdi-playlist-plus"></md-icon>
</button>

<app-task-form class="task-form-layout"
               *ngIf="task && user"
               (onSaved)="onTaskSaved($event)"
               (onCanceled)="onFormCanceled($event)"
               [user]="user"
               [task]="task">
</app-task-form>

<app-task class="task-layout"
          [task]="task"
          *ngFor="let task of tasks"
          (onTaskEdit)="onTaskEdit($event)"
          (onTaskDeleted)="onTaskDeleted($event)">
</app-task>
