@mixin actions($spinner-size: 24px) {
    md-spinner {
        width: $spinner-size !important;
        height: $spinner-size !important;
        align-self: center;
    }

    &[align="end"] [align="start"] {
        margin-right: auto;
    }
}