@import "~mdi/css/materialdesignicons.css";
@import "_theme";

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

app-root {
    display: flex;
    height: 100%;
    flex-direction: column;
}

md-icon {
    &.mdi-set,
    &.mdi {
        font-size: 24px;
    }
}

md-card-actions,
form .actions {
    md-spinner {
        width: 24px;
        height: 24px;
        align-self: center;
    }

    &[align="end"] [align="start"] {
        margin-right: auto;
    }
}