@import "~mdi/css/materialdesignicons.css";
@import "theme";
@import "mixins";

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

app-root {
    display: flex;
    height: 100%;
    flex-direction: column;
}

md-icon {
    &.mdi-set,
    &.mdi {
        font-size: 24px;
    }
}

// modal
form .actions {
    @include actions();
}