@import '~@angular/material/core/theming/theming';
@import 'src/theme';

:host {
    $warn-color: md-color(map-get($theme, warn));

    display: block;
    margin-bottom: 20px;

    /deep/ md-input-container,
    /deep/ md-select {
        width: 100%;
    }

    /deep/ md-input-container {
        /deep/ .md-input-prefix {
            width: 1px;
        }

        /deep/ [md-prefix] {
            margin-right: .3em;
        }
    }

    .error-list {
        display: none;
        color: $warn-color;
    }

    ul.error-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    &.has-error {
        /deep/ md-input-container .md-input-underline .md-input-ripple {
            background-color: $warn-color;
        }

        .error-list {
            display: block;
        }
    }
}
