.login-form {
    max-width: 300px;
    width: 100%;
    box-sizing: border-box;
    margin-top: -33.3333%;
}

.form-group + .form-group {
    margin-top: 20px;
}

md-input {
    width: 100%;

    /* TODO: remove after https://github.com/angular/material2/pull/871 release */
    overflow: inherit;
}