.login-form {
    max-width: 300px;
    width: 100%;
    position: relative;
    top: 10%;
}

md-input {
    width: 100%;

    /* TODO: remove after https://github.com/angular/material2/pull/871 release */
    overflow: inherit;
}